.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: rgba(50, 50, 50, 0.25);
  box-shadow: 0 0 3px 0.2rem rgba(0, 0, 0, 0.1);
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: rgba(50, 50, 50, 0.25);
  box-shadow: 0 0 3px 0.2rem rgba(0, 0, 0, 0.1);
}

#sidebarToggleTop.btn-link:hover {
	background-color: transparent;
}

#sidebarToggleTop.btn-link:focus {
	box-shadow: none;
}

.bg-dark,
.btn-dark {
  background-color: #212529 !important;
}

.btn-outline-dark {
  color: #212529;
  border-color: #212529;
}

.btn-outline-dark:hover {
  background-color: #212529;
}

.img-photo-gallery {
  background-color: transparent !important;
  border: 0 !important;
}

/* Pagination */
.page-item .page-link {
  color: #212529;
}

.page-item .page-link:hover {
  background-color: #ddd;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.page-item .page-link:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}